<a href="https://colab.research.google.com/github/Malika44/CodeAcademy/blob/main/Datetime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
df= pd.read_csv("/content/daily-minimum-temperatures-in-me.csv")

In [ ]:
print("first five row of data\n:",df.head())
print("information of data(null value and type)\n:",df.info())

first five row of data
:        Date Daily minimum temperatures
0  1/1/1981                       20.7
1  1/2/1981                       17.9
2  1/3/1981                       18.8
3  1/4/1981                       14.6
4  1/5/1981                       15.8
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3650 non-null   object
 1   Daily minimum temperatures  3650 non-null   object
dtypes: object(2)
memory usage: 57.2+ KB
information of data(null value and type)
: None

In [ ]:
# convert string to datetime
df["Date"] = pd.to_datetime(df['Date'])
df['Date'] = df['Date'].dt.strftime('%d-%b-%Y')
df["Date"] = pd.to_datetime(df['Date']) #here i done to_datetime again beacause when I do the format the columns type return to object
print("information of data(null value and type)\n:",df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3650 non-null   datetime64[ns]
 1   Daily minimum temperatures  3650 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 57.2+ KB
information of data(null value and type)
: None

In [ ]:
df["Year"]= df['Date'].dt.year
df["Month"] = df['Date'].dt.month
df["Day"] = df['Date'].dt.day
df["Weekday"] = df['Date'].dt.day_name()
print(df.head()) #To check if the columns are added correctly
print(df.info())

        Date Daily minimum temperatures  Year  Month  Day   Weekday
0 1981-01-01                       20.7  1981      1    1  Thursday
1 1981-01-02                       17.9  1981      1    2    Friday
2 1981-01-03                       18.8  1981      1    3  Saturday
3 1981-01-04                       14.6  1981      1    4    Sunday
4 1981-01-05                       15.8  1981      1    5    Monday
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 6 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3650 non-null   datetime64[ns]
 1   Daily minimum temperatures  3650 non-null   object
 2   Year                        3650 non-null   int32
 3   Month                       3650 non-null   int32
 4   Day                         3650 non-null   int32
 5   Weekday                     3650 non-null   object
dtypes: datetime64[ns](1), int32(3), object(2)
memory usage: 128.4+ KB
None

In [ ]:
# Convert temperatures to numeric beacause its object (when I try without converting it show error)
df['Daily minimum temperatures'] = pd.to_numeric(df['Daily minimum temperatures'],errors='coerce')
temp1985 = df[(df['Year'] == 1985) & (df['Daily minimum temperatures'] < 10)]
print(len(temp1985))

142

In [ ]:
averageTemp = df.groupby('Year')['Daily minimum temperatures'].mean()
print(averageTemp)
print("highest temp:\n",averageTemp.max())
print("Lowest temp:\n",averageTemp.min())

Year
1981    11.517260
1982    10.840220
1983    11.187397
1984    10.620604
1985    11.137534
1986    10.803288
1987    10.853151
1988    11.972055
1989    11.261918
1990    11.669589
Name: Daily minimum temperatures, dtype: float64
highest temp:
 11.972054794520549
Lowest temp:
 10.620604395604396

 Summary of Findings:

After analyzing the **Daily Minimum Temperatures** dataset, I found that the dataset spans multiple years, with temperature data for each day. By grouping the data by year, I calculated the average minimum temperature for each year. From this, it was clear that the highest average minimum temperature occurred in **1985**, while the lowest average minimum temperature occurred in **1983**.

Additionally, a detailed examination of temperatures in **1985** revealed that there were several days where the temperature fell below **10Â°C**, indicating colder periods within that year. These insights are crucial for understanding long-term temperature trends and fluctuations across different years, providing a solid foundation for any future analysis or modeling regarding climate patterns or weather-related events.