<a href="https://colab.research.google.com/github/Malika44/CodeAcademy/blob/main/week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#try to always write comments about your code
#to let others know why you write and the aim for it
#we can enter a function inside another function
def rArea(sideLength,sideWidth):
    area = sideLength*sideWidth
    return area
n1= rArea(5,6)
n2 =rArea(4,6)
print(f"Area of the rectanglar 1 is: {n1} and for 2 is: {n2}")

Area of the rectanglar 1 is: 30 and for 2 is: 24

In [ ]:
#local variables
def main():
  sum = 0
  for i in range (11):
    square = i * i
    sum += square
  print(square, sum)

In [ ]:
#when we use a global variable we have to declare its global inside the function
#void function beacause we are not returning a value
balance = 10000

def de(deposite):
  global balance
  balance += deposite
de(1000)
print("new balance is:", balance)

new balance is: 11000

In [ ]:
def sum(n1,n2):
  return n1+n2
x= sum(5,8)
print(sum is')

In [ ]:
height = int(input("Enter the height of the triangle: "))

for i in range(1, height + 1):
    spaces = height - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

Enter the height of the triangle: 4
   *
  ***
 *****
*******

In [ ]:
height = int(input("Enter the height of the triangle: "))

print("\nSymmetric Triangle:")
for i in range(1, height + 1):
    spaces = height - i
    stars = 2 * i - 1
    print(" " * spaces + "*" * stars)

print("\nLeft-Justified Triangle:")
for i in range(1, height + 1):
    print("*" * i)

print("\nRight-Justified Triangle:")
for i in range(1, height + 1):
    spaces = height - i
    print(" " * spaces + "*" * i)

Enter the height of the triangle: 3

Symmetric Triangle:
  *
 ***
*****

Left-Justified Triangle:
*
**
***

Right-Justified Triangle:
  *
 **
***

In [ ]:
n = int(input("Enter the size of the matrix (n x n): "))
matrix = []

print("Enter the matrix rows:")

for _ in range(n):
    row = list(map(int, input().split()))
    matrix.append(row)

primary_sum = 0
secondary_sum = 0

for i in range(n):
    primary_sum += matrix[i][i]
    secondary_sum += matrix[i][n - 1 - i]

difference = abs(primary_sum - secondary_sum)
print("Absolute Diagonal Difference:", difference)

Enter the size of the matrix (n x n): 3
Enter the matrix rows:
1 2 3
1 4 5
1 4 5
Absolute Diagonal Difference: 2

In [ ]:
#append
m = [1,2,3,4]
m.append(4)
print(m)
m.append(int(input("Enter a value:")))
print(m)

[1, 2, 3, 4, 4]
Enter a value:6
[1, 2, 3, 4, 4, 6]

In [ ]:
m = [1,2,3,4]
m.insert(4,6) #inser(index, value)
print(m)

[1, 2, 3, 4, 6]

In [ ]:
#finding element in list
m = [1,2,3,4]
if 2 in m:
  print("Found")
else:
  print("Not found")
#using index
friends = ["Harry", "Emily", "Bob", "Cari", "Emily"]
n = friends.index("Emily") # Sets n to 1
print(n)
#remove using pop(index of element we want to remove)
x =friends.pop(0)
print(x)
print(friends)
#remove using remove(value of element we want to remove)
friends.remove("Bob")
print(friends)

Found
1
Harry
['Emily', 'Bob', 'Cari', 'Emily']
['Emily', 'Cari', 'Emily']

In [ ]:
#concatenation
m = [1,2,3,4]
r = [2,5,6,7]
n = m + r
print(n)
#replication
l = r *2
print(l)

[1, 2, 3, 4, 2, 5, 6, 7]
[2, 5, 6, 7, 2, 5, 6, 7]

In [ ]:
#equility not equility
print([1, 4, 9] == [1, 4, 9])
print([1, 4, 9] == [1, 2, 9])
print([1, 4, 9] != [1, 2, 9])

True
False
True

In [ ]:
#sum / max / min
print(sum([1,4,9,16]))
print(max ([1,4,9,16]))
print(min([0,1,2]))

30
16
0

In [ ]:
#sort
val = [1,9,5]
val.sort()
print(val)

[1, 5, 9]

In [ ]:
#copying list
p =[1,2,3]
p = m
m.pop(0)
print(p)
print(m)

[3, 4]
[3, 4]

In [ ]:
#copying list to make it refer to another refernce in the memory
p =[1,2,3]
m = list(p)
p.pop(0)
print(p)
print(m) #Doesn't affect to what we did in list p bcz it list function but the copy in anew place in the memory

[2, 3]
[1, 2, 3]

In [ ]:
#Slicing
p = [1,5,8,9,4]
r = p[1:4]
print(r)

[5, 8, 9]

In [ ]:
#slice adding and replacing
friends = ["Harry", "Emily", "Bob", "Cari", "Emily"]
friends[:2] = ["Ahmed" , "mm", "rr"]# change o and 1 index values in the list  but here "rr" will be added and Bob will be moved to the next element
print(friends)

['Ahmed', 'mm', 'rr', 'Bob', 'Cari', 'Emily']

In [ ]:
#filling a list
n = 5
values = []
for i in range(n):
  values.append(i * 10)
print(values)
#combining list element
result = 0.0
for element in values :
  result +=  element
print(result)
#combining list element strings
res = ""
names = ["Harry", "Emily", "Bob", "Cari", "Emily"]
for element in names :
  res = res + " " + element
print(res)

[0, 10, 20, 30, 40]
100.0
 Harry Emily Bob Cari Emily

In [ ]:
#Linear Search /Sequential
list1 = [1,3,5,7,0,8,6,5,4]
value = 7
for i in range(len(list1)):
  if list1[i] == value:
    print(i)

3

In [ ]:
#Table
table1 = [[1,2,3],[2,3,4],[3,5,7]]
print(table1)
#accessing element in the list using listname [row][col] output element
x= table1[2][2] #accessing element in the list using listname [row][col] output element
print(x)

[[1, 2, 3], [2, 3, 4], [3, 5, 7]]
7

In [ ]:
#Syntax: Dictionaries {key (unique): value , key :value}
dict = {"malika":"bbb", "jjjj":"yyyy"}
num = {123 :222 , 345:555}
r1 = {1:[1,2,3],2:[3,5,7]}
print(dict)
print(num)
print(r1)
#Accessing Dictionary Values []
print("content of malika dictionary is :",dict["malika"]) #dictionaryname[key of the value I want to access]
#• To find out whether a key is present in the dictionary, use the in (or not in) operator:
if "jjjj" in dict :
  print("content of jjjj dictionary is", dict["jjjj"])
else :
  print("content is not in  jjjj dictionary is.")

{'malika': 'bbb', 'jjjj': 'yyyy'}
{123: 222, 345: 555}
{1: [1, 2, 3], 2: [3, 5, 7]}
content of malika dictionary is : bbb
content of jjjj dictionary is yyyy

In [ ]:
#Default Keys
#• Instead of using the in operator, you can simply call the get() method and pass the key and a default value
#• The default value is returned if there is no matching key
num = {123 :222 , 345:555}
print(num.get(123, 411)) #411 default value any

222

In [ ]:
#Adding/Modifying Items
num = {123 :222 , 345:555}
num[123] =234
print(num[123])

234

In [ ]:
#Adding New Elements Dynamically
#Sometimes you may not know which items will be contained in the dictionary when it’s created
#1- You can create an empty dictionary like this:
mal = {}
#2- and add new items as needed:
mal [12] = 11
mal [34] = 55
mal [44] = 99
print(mal)
#Removing Elements
# To remove an item from a dictionary, call the pop() method with the key as the argument:
mal.pop(12) #This removes the entire item, both the key and its associated value
print(mal)

{12: 11, 34: 55, 44: 99}
{34: 55, 44: 99}

In [ ]:
#Traversing a Dictionary
# You can iterate over the individual keys in a dictionary using a for loop
num = {123 :222 , 345:555}
for key in num :# print all keys in num
  print(key)

123
345

In [ ]:
#Python allows you to iterate over the items in a dictionary using the items() method
#• more efficient than iterating over the keys and then looking up the value of each key
#• The items() method returns a sequence of tuples that contain the keys and values of all items
num = {123 :222 , 345:555}
for item in num.items() :
  print(item[0], item[1])

123 222
345 555

In [ ]:
#Tuples
# Tuples are very similar to lists, but they are immutable (i.e., unchangeable)
# Tuples are written with round brackets
t1 = (1, 2, 3)
t2 = ('a', 'a', 'c', 'd')# we can have duplicate values
t3 = (200, 'A', [4, 5], 3.2)
print(t1)
print(t2)
print(t3)
print(t1[2])#can use index
print(t2[:3])# we can slice
m = (1,4) *3
print(m)#Be repeated
t4 = t1 +t2
print(t4)
#Be passed to a function, but will result in pass-by-value and not pass-by-reference outcome since it is immutable
#Be iterated over

(1, 2, 3)
('a', 'a', 'c', 'd')
(200, 'A', [4, 5], 3.2)
3
('a', 'a', 'c')
(1, 4, 1, 4, 1, 4)
(1, 2, 3, 'a', 'a', 'c', 'd')

In [ ]:
# A function is defined outside of a class
def greet(name):
    return f"Hello, {name}!"

# You can call it directly
print(greet("Malika"))

Hello, Malika!

In [ ]:
# A method is defined inside a class and takes 'self' as its first parameter
class Greeter:
    def greet(self, name):
        return f"Hello, {name}!"

# You create an object of the class to call the method
my_greeter = Greeter()
print(my_greeter.greet("Bob"))

Hello, Bob!

In [ ]:
#wednesday
#Set
#Create empty set
em = set()
print(type(em))

<class 'set'>

In [ ]:
#covert list to set (use set function)
set1 = set([1,2,3])
print(type(set1))
print((set1))
t1= [1,2,3]
set2 = set(t1)
print(type(set2))
print((set2))

<class 'set'>
{1, 2, 3}
<class 'set'>
{1, 2, 3}

In [ ]:
#Update and add method
set4 = {1,2,3}
set3 = set()
set3.update(set4)
set3.add("mm")
print(set3)

{1, 2, 3, 'mm'}

In [ ]:
#set operation
a= {1,2,3,5}
b= {2,4,7,5}
s1 = a | b
print(f"Union a | b {s1}")
s2 = a & b
print(f"Intersaction a $ b {s2}")
s3 = a - b
print(f"Diff a - b {s3}")
s4 = a ^ b
print(f"symmetric diff a ^ b {s4}")

Union a | b {1, 2, 3, 4, 5, 7}
Intersaction a $ b {2, 5}
Diff a - b {1, 3}
symmetric diff a ^ b {1, 3, 4, 7}

In [ ]:
#opp
#classes start with Capital letter
class Kids:
  def __init__ (self , name, age):
    self.name = name
    self.age = age
  def play(self ,games, place):
    return f"{self.name} says wooh playing time with {games}  {place}"
kid = Kids("Ruba",10 )
kid.play("ipad", "at home")# here we pass the argument that we include in the method (play)

'Ruba says wooh playing time with ipad  at home'

In [ ]:
#opp
#classes start with Capital letter
#don't foreget Self in all places we use attrubites
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
  def display_details(self,name):
    return f"{name} car is {self.make} model  {self.model} and the year of buying is {self.year}"
car1= Car("tOYOTA","V1", 2022)
car2= Car("crola", "V2", 2023)
car3= Car("BMW", "V3", 2021)
car1.display_details("Malika")
car2.display_details("Sister")
car3.display_details("Mum")

'Mum car is BMW model  V3 and the year of buying is 2021'

In [ ]:
#opp
#classes start with Capital letter
#don't foreget Self in all places we use attrubites
class Car:
  def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
  def display_details(self,name):
    return f"{name} car is {self.make} model  {self.model} and the year of buying is {self.year}"
car1= Car("tOYOTA","V1", 2022)
car2= Car("crola", "V2", 2023)
car3= Car("BMW", "V3", 2021)
car1.display_details("Malika")
car2.display_details("Sister")
car3.display_details("Mum")

In [ ]:
class BankAccount:
  def __init__(self, Owner , accountNumber, expiry, balance = 0):
    self.Owner = Owner
    self.accountNumber = accountNumber
    self.expiry = expiry
    self.balance = balance
  def deposite(self, amount):
    if amount > 0:
      self.balance += amount
      return f"You have deposite {amount} your new balance is {self.balance}"
    else:
      return "Deposite amount must be pos"
  def withdraw(self, amount):
    if amount > 0:
      if amount <= self.balance:
        self.balance -= amount
        return f"You have withdraw {amount} your new balance is {self.balance}"
    else:
      return"withdraw amount must be pos"
  def getBalance (self):
    return self.balance
account = BankAccount("Malika", 44444,233, 10000)
print(account.deposite(1000))
print(account.withdraw(400))
print(account.getBalance())

You have deposite 1000 your new balance is 11000
You have withdraw 400 your new balance is 10600
10600

In [ ]:
#Encapsulation
#putting a data in a class and hide this data from other classes or entire program.
#It called Black box as well. We can’t see what is happening in said this box.

In [ ]:
#Encapsulation
#Setters & getters functions: difference
# Setters functions are using for change the values and the properties of Objects.
# Getters function are using for read and fetch the values and the properties of Objects.
# Validate the state of the object before making any changes.

In [ ]:
#Setters & getters functions:
def get_name():#getter
  return name
def set_name(new_name):#setter
  name = new_name
#Another Example
class Person:
    def __init__(self, name, age):
        self.name = name    # Private attribute
        self.age = age      # Private attribute

    # Getter for name
    def get_name(self):
        return self.name

    # Setter for name
    def set_name(self, new_name):
        self.name = new_name

    # Getter for age
    def get_age(self):
        return self.age

    # Setter for age
    def set_age(self, new_age):
        if new_age >= 0:     # Small validation
            self.age = new_age
        else:
            print("Age cannot be negative.")

# Example usage
person = Person("Ali", 25)

print(person.get_name())  # Output: Ali
print(person.get_age())   # Output: 25

person.set_name("Omar")
person.set_age(30)

print(person.get_name())  # Output: Omar
print(person.get_age())   # Output: 30

Ali
25
Omar
30